<div class="container">
    <div class="row">
        <div class="col-12 ">
            <form action="">

                <div class="form-row">
                    <div class="form-col">
                        <label for="firstName">First Name:</label><br>
                        <input type="text" id="firstName" placeholder="Deo">
                    </div>
                    <div class="form-col">
                        <label for="lastName">Last Name:</label><br>
                        <input type="text" id="lastName" placeholder="Jhon">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-col">
                        <label for="phone">Phone:</label><br>
                        <input type="tel" id="phone" placeholder="123-456-7890">
                    </div>
                    <div class="form-col">
                        <label for="email">Email:</label><br>
                        <input type="email" id="email" placeholder="deojhon@example.com">
                    </div>
                </div>

                <textarea placeholder="Write yor massege here..."></textarea><br><br>

                <input type="submit" value="Submit"><br><br>

            </form>
        </div>
    </div>
</div>