.carousel {
  position: relative;
  width: 100%;
  height: 85vh;
}

#carouselExampleIndicators {
  /* Your styles for the carousel container */
}

.carousel-indicators {
  /* Your styles for the carousel indicators */
}

.carousel-indicators button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #000;
}

.carousel-inner {
  width: 100%;
  height: 85vh;
}

.carousel-item {
  width: 100%;
  height: 85vh;
}

.carousel-item .img img {
  width: 100%;
  height: 85vh;
}

.slide-content {
  position: absolute;
  top: 30%;
  left: 10%;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  opacity: 0.8;
}

.slide-content h1 {
  font-size: 2rem;
}

.slide-content p {
  font-size: 1rem;
}

.slide-content .btn {
  padding: 7px 25px;
  background-color: dodgerblue;
  color: #fff;
}

.carousel-control-prev span,
.carousel-control-next span {
  background-color: #000;
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 4rem;
}

@media only screen and (max-width: 992px) {
  .carousel {
    position: relative;
    width: 100%;
    height: 70vh;
  }

  .carousel-inner {
    width: 100%;
    height: 70vh;
  }

  .carousel-item {
    width: 100%;
    height: 70vh;
  }

  .carousel-item .img img {
    width: 100%;
    height: 70vh;
  }

  .slide-content {
    position: absolute;
    top: 20%;
    left: 10%;
    padding: 20px;
  }

  .slide-content h1 {
    font-size: 1.4rem;
  }

  .slide-content p {
    font-size: .8rem;
  }

  .slide-content .btn {
    padding: 5px 20px;
    font-size: 14px;
  }
}

@media only screen and (max-width: 768px) {
  .carousel {
    position: relative;
    width: 100%;
    height: 55vh;
  }

  .carousel-inner {
    width: 100%;
    height: 55vh;
  }

  .carousel-item {
    width: 100%;
    height: 55vh;
  }

  .carousel-item .img img {
    width: 100%;
    height: 55vh;
  }
}

@media only screen and (max-width: 440px) {
  .carousel {
    position: relative;
    width: 100%;
    height: 40vh;
  }

  .carousel-inner {
    width: 100%;
    height: 40vh;
  }

  .carousel-item {
    width: 100%;
    height: 40vh;
  }

  .carousel-item .img img {
    width: 100%;
    height: 40vh;
  }

  .slide-content {
    display: none;
  }
}
